@section Footer
    {


    <h3> in the Content Page Footer </h3>


}
@{
    ViewBag.Title = "LayoutSectionContent";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>LayoutSectionContent</h2>
@section Script
{
    
    
    <script>
        $("h2").css("background-color", "crimson")

    </script>
    
    }
